{% extends "admin_dashboard/base.html" %}

{% load static %}

{% block title %}Delete | {{material_size.unit}}{% endblock title %}

{% block content %}
<form id="delete-form-{{ material_size.pk }}" action="{% url 'admin_dashboard:delete_material_size' material_size.pk %}" method="post">
    {% csrf_token %}
    <button type="button" onclick="confirmDeletion({{ material_size.pk }})">Delete</button>
</form>

<script>
    function confirmDeletion(pk) {
        if (confirm("Are you sure you want to delete this item?")) {
            document.getElementById('delete-form-' + pk).submit();
        }
    }
</script>
{% endblock content %}