{% extends "core/base.html" %}

{% load static %}

{% block title %}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock css %}

{% block content %}
<div class="gallery_container">
    <div class="img_container"><img src="img/bkcovers/bkcover1.jpeg"></div>
    <div class="img_container"><img src="img/bkcovers/bkcover2.jpeg"></div>
    <div class="img_container"><img src="img/bkcovers/bkcover3.jpeg"></div>
    <div class="img_container"><img src="img/bkcovers/bkcover4.jpeg"></div>
    <div class="img_container"><img src="img/bkcovers/bkcover5.jpeg"></div>
    <div class="img_container"><img src="img/branding/product1.jpeg"></div>
    <div class="img_container"><img src="img/branding/product2.jpeg"></div>
    <div class="img_container"><img src="img/branding/product3.jpeg"></div>
    <div class="img_container"><img src="img/branding/product4.jpeg"></div>
    <div class="img_container"><img src="img/branding/product5.jpeg"></div>
    <div class="img_container"><img src="img/branding/product6.jpeg"></div>
    <div class="img_container"><img src="img/branding/product7.jpeg"></div>
    <div class="img_container"><img src="img/branding/product8.jpeg"></div>
    <div class="img_container"><img src="img/branding/product9.jpeg"></div>
    <div class="img_container"><img src="img/branding/product@.jpeg"></div>
    <div class="img_container"><img src="img/brochures/flyer1.jpeg"></div>
    <div class="img_container"><img src="img/brochures/flyer2.jpeg"></div>
    <div class="img_container"><img src="img/brochures/flyer3.jpeg"></div>
    <div class="img_container"><img src="img/brochures/flyer4.jpeg"></div>
    <div class="img_container"><img src="img/brochures/flyer5.jpeg"></div>
    <div class="img_container"><img src="img/bscards/bscard1.jpeg"></div>
    <div class="img_container"><img src="img/bscards/bscard3.jpeg"></div>
    <div class="img_container"><img src="img/bscards/bscard4.jpeg"></div>
    <div class="img_container"><img src="img/bscards/bscard5.webp"></div>
    <div class="img_container"><img src="img/categories page/bscard2.avif"></div>
    <div class="img_container"><img src="img/custom/cup.jpeg"></div>
    <div class="img_container"><img src="img/custom/staffid1.jpeg"></div>
    <div class="img_container"><img src="img/custom/staffid3.jpeg"></div>
    <div class="img_container"><img src="img/custom/staffid2.jpeg"></div>
    <div class="img_container"><img src="img/custom/tshirt1.jpeg"></div>
    <div class="img_container"><img src="img/events/banner1.jpeg"></div>
    <div class="img_container"><img src="img/events/banner2.jpeg"></div>
    <div class="img_container"><img src="img/events/billboard.jpeg"></div>
    <div class="img_container"><img src="img/events/event1.jpeg"></div>
    <div class="img_container"><img src="img/events/event2.jpeg"></div>
    <div class="img_container"><img src="img/events/event3.jpeg"></div>
    <div class="img_container"><img src="img/events/event4.jpeg"></div>
    <div class="img_container"><img src="img/events/ic1.jpeg"></div>
    <div class="img_container"><img src="img/events/ic2.jpeg"></div>
    <div class="img_container"><img src="img/events/ic3.jpeg"></div>
    <div class="img_container"><img src="img/events/ic4.jpeg"></div>
    <div class="img_container"><img src="img/obt1.jpeg"></div>
    <div class="img_container"><img src="img/obt2.jpeg"></div>
    <div class="img_container"><img src="img/obt3.jpeg"></div>
    <div class="img_container"><img src="img/obt4.jpeg"></div>
    <div class="img_container"><img src="img/ser1.jpeg"></div>
    <div class="img_container"><img src="img/ser2.jpeg"></div>
</div>
{% endblock content %}