<div class="loading" id="loader">
    <div class="loading-text">
        <span class="loading-text-words" style="--_delay: 0s;">L</span>
        <span class="loading-text-words" style="--_delay: .2s;">O</span>
        <span class="loading-text-words" style="--_delay: .4s;">A</span>
        <span class="loading-text-words" style="--_delay: .6s;">D</span>
        <span class="loading-text-words" style="--_delay: .8s;">I</span>
        <span class="loading-text-words" style="--_delay: 1s;">N</span>
        <span class="loading-text-words" style="--_delay: 1.2s;">G</span>
    </div>
</div>