@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --bg: #07051a;
    --text: #efeefc;
    --btnprimary: #03020d;
    --btnsecondary: #24c231;
    --font_family: lato;
    --fontsize: 1.5rem;
    --fontsize-sm: 1rem;
    --padding: 1rem;
    --margin: 10px;
    --width: 100dvw;
    --height: 100dvh;
    --gradient: linear-gradient(180deg, #e64980 5%, #ff8787 95%);
    --logo-bg-color: #e5e6e8;
    --letter-color: #9b94c8;
    --pen-color: #04a551;
    --typewriter-time: 6s;
    --scroll_padding: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    overflow-x: hidden;
    height: 100vh;
    font-family: var(--font_family);
}

a {
    position: relative;
    text-decoration: none;
    color: var(--text);
    padding: 2px;
    font-size: calc(var(--fontsize) / 1.5);
}

.cmore {
    position: relative;
    background-color: var(--current-color1);
    width: 100%;
    height: 2rem;
    border-radius: 100vw;
    outline: none;
    border: 1px solid black;
    letter-spacing: 5px;
    font-weight: 700;
    left: 0;
    right: 0;
    transition: all .7s ease;
}

button:hover {
    scale: 1.05;
    background: #056834;
    background-position: -100%;
}

input {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;
}

.cards {
    position: relative;
    width: 430px;
    height: 500px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.card {
    position: relative;
    height: 100%;
    background-color: var(--letter-color);
    padding: 30px 35px;
    border-radius: 10px;
}

.card .image {
    display: flex;
    justify-content: space-between;
}

.image img {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba( 0,0,0,.5);
    margin-top: 23px;
    width: 86%;
    height: 220px; 
    object-fit: cover;
    transition: all .7s;
}

.image img:hover {
    scale: 1.05;
}
.dots {
    text-align: center;
}

.dots div {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-of-type(1) {
    background-color: var(--current-color1);
}

.dots div:nth-of-type(2){
    background-color: var(--current-color2);
}

.dots div:nth-of-type(3) {
    background-color: black;
}

.info {
    display: block;
    text-align: end;
    padding-top: 60px;
}

.info span {
    display: block;
}

.info .name {
    font-size: var(--fontsize);
    color: var(--text);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .8s ease;
}


#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #c5bf12;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.view {
    position: absolute;
    bottom: var(--padding);
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 2rem;
    font-size: var(--fontsize-sm);
    font-family: var(--font_family);
    color: var(--text);
    background-color: var(--btnsecondary);
    border-radius: 100vw;
    border: 1px solid var(--bg);
    cursor: pointer;
    transition: all .7s ease;
}

.view i {
    display: none;
}

.categories {
    width: 100vw;
    height: 75vh;
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.categories label {
    width: calc(100vw / 3 - 1.5rem);
    height: calc(100% / 2 - 1rem);
    position: absolute;
}

.viewbtn {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--btnsecondary);
    position: absolute;
    bottom: var(--padding);
    left: 50%;
    transform: translateX(-50%);
    transition: all .55s ease;
}

.viewbtn b {
    display: none;
}