* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg: #07051a;
    --text: #efeefc;
    --btnprimary: #03020d;
    --btnsecondary: #24c231;
    --font_family: lato;
    --fontsize: 1.5rem;
    --padding: 1rem;
    --margin: 10px;
    --width: 100dvw;
    --height: 100dvh;
    --gradient: linear-gradient(180deg, #e64980 5%, #ff8787 95%);
    --logo-bg-color: #e5e6e8;
    --letter-color: #9b94c8;
    --pen-color: #04a551;
    --typewriter-time: 6s;
    --scroll_padding: 5rem;
    --header-height: 3rem;

    /*========== Colors ==========*/
    --text: #efeefc;
    --btnprimary: #03020d;
    --btnsecondary: #24c231;
  
    --hue: 174;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding: 2.5rem;
}

body {
    display: grid;
    background: var(--bg);
    color: var(--text);
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--font_family);
}

a {
    color: var(--text);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar,
.container::-webkit-scrollbar {
    display: none;
  } */

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* .section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.nav_container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
} 

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--btnprimary);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--text);
  font-weight: 600;
}



.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--text);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--btnsecondary);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

@media (prefers-color-scheme: light) {
    :root {
        --text: #0e030c;
        --background: #fcf3fa;
        --primary: #d134ae;
        --secondary: #e7a193;
        --accent: #dea66c;

    }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
    html {
        width: 320px;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    section {
        width: 320px;
        overflow-x: hidden;
        height: 100vh;
        padding-left: 0;
    }
    #home {
        width: 320px;
        overflow-x: hidden;
        padding-left: 0;
    }
    #home .text {
        padding: 0;
        width: 320px;
    }
    #home .text h1 {
        color: #FFF;
        font-size: 1.225rem;
        font-weight: 400;
    }
    #home .text p {
        font-size: 1rem;
        width: 30ch;
        color: #fff;
        mix-blend-mode: difference;
    }
    .hero-image {
        background-image: linear-gradient( to bottom, var(--background) ,var(--bg));
    }
    .nav__name {
        display: none;
    }
    .carousel img {
        width: 270px;
    }
    .contacts {
        width: 320px;
        padding-block: 0;
        overflow-x: hidden;
    }
    .contacts .h1 {
        width: 320px;
        padding: 0;
    }
    .contacts .h1 p{
        font-size: 1rem;
        width: 25ch;
    }
    .input input {
        width: 160px;
        transform: translateX(-15%);
        border-radius: 5px;
    }
    #pg-1 {
        width: 320px;
        overflow-x: hidden;
        padding-left: 0;
    }
    #pg-1 h1 {
        font-size: 1.35rem;
    }
    #pg-1 .pc-webdev {
        width: 320px;
        overflow-x: hidden;
        padding-left: 0.5rem;
        font-size: 1.15rem;
        font-weight: 400;
    }
    .footer_container {
        width: 320px;
        padding-left: 0;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }
    .nav_menu {
        position: fixed;
        bottom: 0;
    }
}

@media screen and (min-width: 767px) {
  .nav_container {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__link > .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--btnsecondary);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--btnsecondary);
    border-radius: 50%;
  }

  /* Minimalist design */
  .active-link::before{
      bottom: -.75rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .nav_container {
    margin-left: auto;
    margin-right: auto;
  }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
    opacity: 0;
    border-radius: 100vw;
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--text), var(--btnsecondary));
    border: .25rem solid linear-gradient(var(--bg), var(--letter-color));
    border-radius: 100vw;
}

section {
    scroll-snap-align: start;
    z-index: 1;
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
    height: calc(var(--height) - var(--scroll_padding));
    width: var(--width);
    position: relative;
    display: grid;
    height: minmax(100vh, auto);
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    top: 20%;
    padding: var(--padding);
    margin: var(--margin);
}

h1 {
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    position: relative;
    font-family: "Source Code Pro",monospace;
    outline: var(--bg);
    width: max-content;
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1::before  {
    background: var(--bg);
    animation: typewriter var(--typewriter-time) steps(29) 1s forwards;
}

.text > p {
    font-size: var(--fontsize);
    padding-top: var(--padding); 
    position: absolute;
    top: 35%;
    width: 45ch;
    transform: translateY(3rem);
    font-weight: 350;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to{
        background: transparent;
    }
}

h1::after {
    width: 0.125em;
    background: var(--btnsecondary);
    animation:
    typewriter var(--typewriter-time) steps(29) 1s forwards,
    blink 750ms steps(29) infinite;
}

.hero-image {
    margin: var(--margin);
    padding-top: var(--padding);
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 85dvh;
    object-fit: cover;
    opacity: 0.75;
    border-radius: 2rem;
    -webkit-mask-image: linear-gradient(-90deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5) 25%, rgb(0, 0, 0, 0));
    mask-image: linear-gradient(rgb(11, 2, 36), rgb(0, 0, 0, 0.5) 25%, rgb(0, 0, 0, 0));
}

.page-1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--background);
    color: var(--text);
}

.page-1 h1 {
    position: absolute;
    top: var(--scroll_padding);
    width: auto;
    left: 0;
    margin-left: 1rem;
    font-size: var(--fontsize);
    letter-spacing: 2.5px;
    font-weight: 900;
    color: var(--logo-bg-color);
}

.page-1 svg {
    position: absolute;
    right: -35%;
    top: 0;
    width: 135%;
    height: 100%;
} 

    section {
        scroll-padding-top: 3rem;
        width: 100vw;
        height: 100vh;
        color: var(--text);
        position: relative;
    }

.cta {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding-block-end: var(--padding);
    width: 42ch;
    height: 50vh;
    font-size: var(--fontsize);
}

.cta p {
    position: relative;
    display: grid;
    letter-spacing: 1px;
    padding-bottom: var(--padding);
}

.cta p span {
    padding: calc(var(--padding) / 2);
}

/* .our_services {
    text-align: center;
} */

.our_services p.our_services_cta {
    position: absolute;
    top: 4.5rem;
    left: var(--padding);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text);
}

.our_services h1 {
    position: absolute;
    top: 1.65rem;
    left: var(--padding);
    /* font-size: 2.5rem; */
    font-weight: 700;
    color: var(--text);
    margin-bottom: 1rem;
}

.branding-container {
    margin-top: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 1rem;
}

.card {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: subgrid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: var(--letter-color);
    padding: 1rem 35px;
    border-radius: 10px;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.background img {
    position: absolute;
    filter: drop-shadow(0 0 10px var(--bg));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

.content h2 {
    font-size: var(--fontsize);
    font-weight: 700;
    margin-block: .5rem;
    letter-spacing: 1.5px;
    color: var(--text);
}

.content p {
    font-size: 1.125rem;
    color: var(--text);
    width: 100%;
    line-height: 1.5;
    margin-top: .5rem;
}

.action-button {
    margin-block: 1rem;
    width: auto;
    height: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    column-count: 2;
    column-gap: 1.5rem;
    text-align: center;
}

.action-button a {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--text);
    color: var(--bg);
    border-radius: 5px;
    text-align: center;
}

@media screen and (width <= 524px) {

    .branding-container {
        position: relative;
        width: 100%;
        overflow-x: hidden; 
        grid-auto-flow: row;
        row-gap: 1.5rem;
        padding-inline: 1rem;
    }

    .card {
        margin: 1rem 1.25rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        width: 90vw;
        height: 85vh;
        row-gap: 1.5rem;
        margin-inline: auto;
    }
    .background {
        position: relative;
        width: 100%;
        height: 100%;
    }
    /* .background img {
        width: 100%;
        height: 40%;
    } */
    .content {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .content p,
    .content h2 {
        width: 100%;
    }
    .content p {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    .chips {
        width: 100%;
        display: grid;
    }
    .chip {
        font-size: .75rem;
        font-weight: 600;
        background-color: var(--btnprimary);
        border-radius: 100vw;
        display: grid;
        place-items: center;
        width: auto;
        padding-block: .25rem;
        margin-top: 1rem;
    }
    .action-button {
        margin-block: 1rem;
        display: grid;
        grid-auto-flow: column;
        column-count: 1;
        column-gap: 1.5rem;
        width: 100%;
    }
    .action-button a {
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--text);
        color: var(--bg);
        border-radius: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .branding-container {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-inline: auto;
        overflow-x: hidden; 
    }
    .card {
        position: relative;
        width: 45vw;
        height: 75vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;

        margin-block: 1rem;
    }
    .background {
        position: absolute;
        width: 100%;
        height: 45%;
    }
    .background img {
        width: 100%;
        height: 100%;
    }
    .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55%;
        padding-inline: .5rem;
        margin-inline: auto;
    }
    .action-button {
        width: 95%;
        margin-block: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}

section #projects {
    height: calc(100vh - var(--scroll_padding));
    width: 100%;
    height: 100%;
    position: relative;
}

#projects .container {
    height: calc(100% - var(--scroll_padding));
    width: 100%;
    position: relative;
    
    border-radius: .5rem;
}

.wrapper {
    display: flex;
    max-width: calc(100vw - 2rem);
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
}

/* .wrapper:nth-child(2) {
    position: relative;
    padding-top: 2rem;
}

.wrapper:nth-child(3) {
    position: relative;
    padding-top: 2rem;
}

.wrapper:nth-child(4) {
    position: relative;
    padding-top: 2rem;
}

.wrapper:nth-child(5) {
    position: relative;
    padding-top: 2rem;
}

.wrapper:nth-child(6) {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
} */

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: var(--text);
    cursor: pointer;
    font-size: var(--fontsize);
    position: absolute;
    z-index: 1000;
    text-align: center;
    line-height: 44px;
    background-color: var(--btnsecondary);
    border-radius: 50%;
}

.wrapper i:active,
.input i:active,
.pc_info #left:active {
    transform: scale(0.95);
    font-size: calc(var(--fontsize) * .2);
    transition: all 250ms ease-in-out;
}

.wrapper i:hover {
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
}

.wrapper i:first-child {
    left: 0;
    display: none;
}

.wrapper i:last-child {
    right: 0;
}

#projects .container h3 {
    font-size: var(--fontsize);
    margin-bottom: 1rem;
    margin-left: 1rem;
    letter-spacing: 1.5px;
}

#projects .container .wrapper .carousel {
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: calc(100% - 3rem);
}

#projects .container .carousel .dragging {
    cursor: grab;
    scroll-behavior: auto;
}

#projects .container .carousel .dragging img {
    pointer-events: none;
}


.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: .5rem;
}

.carousel img:first-child {
    margin-left: 0;
}

@media screen and (max-width: 900px){
    .carousel img {
        width: calc(100% / 2);
    }
}

.see-more {
    font-size: 1rem;
    color: var(--text);
    background-color: var(--btnsecondary);
    width: auto;
    height: 2.5rem;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    padding-inline: .5rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.see-more i {
    margin-inline: .5rem;
}

.see-more:hover,
.see-more:active {
    letter-spacing: 1.5px;
    transition: .5s ease-in;
}

#contacts {
    position: relative;
    height: calc(100vh - var(--scroll_padding));
}

.contacts {
    display: grid;
    position: absolute;
    top: -2rem;
    left: 0;
    width: 50%;
    height: 50vh;
}

#wrapper {
    display: grid;
    position: absolute;
    top: 0;
    transform: translateY(-5%);
    width: 100%;
    height: 75vh;
    border: 1px solid black;
}

.h1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem;
    color: var(--text);
}

.h1 p {
    position: absolute;
    font-size: 1.2rem;
    padding-top: var(--padding);
    color: var(--text);
}

.input {
    display: grid;
    position: relative;
    padding: var(--padding);
    margin-top: 2rem;
    margin-left: 1rem;
    width: 100%;
    height: 35vh;
}

input {
    position: relative;
    width: 100%;
    left: 0;
    height: 2rem;
    background: var(--bg);
    color: var(--text);
    border: none;
    border-bottom: 1px solid var(--text);
    border-right: 1px solid var(--text);
}

.input button {
    text-transform: uppercase;
    background-color: var(--btnsecondary);
    color: var(--text);
    position: relative;
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: .35rem;
    letter-spacing: 10px;
    cursor: pointer;
}

.input button:hover {
    transform: scale(1.05);
    transition: all 250ms ease;
}

.input button:active {
    transform: scale(0.95);
    transition: all 250ms ease;
}

/* .input i,
.pc_info.fa-solid.fa-angle-left {
    opacity: 0;
    position: absolute;
    z-index: -1;
} */
#wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    border: none;
}

.pc_info {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 75%;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--text);
    color: #000;
    font-weight: bold;
    border-radius: .5rem;
    display: grid;
}

.pc_info h2 {
    padding: var(--padding);
    font-weight: bolder;
    font-size: calc(var(--fontsize) + 10px);
}

.pc_info i {
    color: #000;
    font-size: var(--fontsize);
    text-decoration: none;
    left: 0;
}

.pc_info a {
    color: var(--btnprimary);
    text-decoration: none;
    font-size: var(--fontsize);
    padding-left: var(--padding);
    position: relative;
}

.pc_info button {
    width: auto;
    height: 2rem;
    background: none;
    border: none;
    font-size: var(--fontsize);
    text-align: left;
    padding-left: var(--padding);
    cursor: pointer;
}

.pc_info p {
    padding: var(--padding);
    position: relative;
}

.pc_info a:hover,
.pc_info i:hover {
    color: var(--btnsecondary);
    transition: all 350ms ease;
}

.pc_info div:first-child {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: .2rem;
    top: -1rem;
    left: -1rem;
    background: var(--btnsecondary);
}

.socials {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: .25rem;
    background: var(--btnsecondary);
}

.socials .links {
    position: absolute;
    width: 8rem;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    color: var(--bg);
    font-size: 1.5rem;
    padding: 1.05rem;
    top: 1.5rem;
}

.links i {
    position: relative;
    cursor: pointer;
    padding: 2.5px;
}

.links i:hover {
    transform: scale(1.05);
    color: var(--text);
    transition: all 350ms ease-in-out;
}

.links i:active{
    transform: scale(0.75);
    transition: all 350ms ease-in-out;
}

.input label {
    font-size: 1rem;
    color: var(--text);
    position: relative;
    font-weight: bold;
    height: 2rem;
    left: 0;
}

#display {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper {
  width: 90%;
  height: 50vh;
  position: absolute;
  top: calc(var(--scroll_padding) / 2);
  margin-inline: .5em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #320707;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.footer {
    width: 100%;
    height: 40vh;
    position: relative;
    border: #320707 solid 2px;
    margin-top: 2rem;
    border-radius: 8px 8px 0 0;
    font-size: 1.1rem;
    letter-spacing: 1.25px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.social_media {
    width: 50%;
    height: calc(100% - 3rem);
    display: grid;
    position: absolute;
    border-radius: 8px 0 0 0;
    margin-top: 0;
    top: 0;
    left: 0;
    margin-block: .5rem;
}

.social_media_handles {
    padding-inline-end: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.social_media_handles i {
    margin-right: 1rem;
    transition: all .5s ease-in-out;
}

.footer a:hover,
.footer a:active {
    letter-spacing: 1.5px;
    color: blueviolet;
    transition: all .5s ease;
}

.shotcuts {
    width: 50%;
    height: calc(100% - 3rem);
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 0;
}

.shortcutlist {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    margin-block: .5rem;
}

.list_items {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

.footer .copyright {
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin-bottom: .5rem;
    width: 100%;
    height: 1.5rem;
    text-align: center;
}

#signin {
    height: 75vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--btnsecondary);
    border-radius: 1rem;
    border: none;
    outline: #e5e6e8;
    overflow: hidden;
}

#signin::backdrop {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.directions {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--bg);
    border-radius: inherit;
    border: var(--btnsecondary) 2px solid;
}

.directions iframe {
    position: relative;
    width: 100%;
}

.map-slide {
    width: 100%;
    display: block;
    flex: 0 0 auto;
  }

.map-slide img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-right: 1rem;
  }

.landmarks {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    bottom: 15%;
  }

.landmark {
    width: auto;
    height: 2rem;
    display: grid;
    place-items: center;
    padding-inline: .5rem;
    background-color: #bbb;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
  }

.landmark .active {
    background-color: #333;
    color: blue;
  }

#signin .close {
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: var(--btnsecondary);
    color: var(--text);
    font-size: 1rem;
    border: none;
}

@keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

@media screen and (width > 600px) {
    .input i,
    .pc_info #left {
        opacity: 0;
    }
}

.carousel h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: linear-gradient(var(--text), var(--letter-color));
    text-decoration: underline var(--btnsecondary);
}

.footer_container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	position: relative;
	width: 100%;
    height: 50vh;
    /* padding-bottom: 1.5rem; */
	background-color: var(--btnprimary);
    padding: 70px 0;
    margin-bottom: 1rem;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 768px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
    .footer {
        height: auto;
    }
}
@media(max-width: 574px){
    ::-webkit-scrollbar-thumb {
        display: none;
    }
  .footer-col{
    width: 100%;
  }
  .footer {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    #home {
        padding: 0;
        margin: 0;
    }
    #home .text {
        padding-left: 0;
    }
    #home .text h1,
    #pg-1 h1 {
        font-size: 1.5rem;
    }
    #home .text p,
    #pg-1 .cta p {
        width: 45ch;
        font-size: 1.2rem;
    }
    html {
        overflow-x: hidden;
    }
    body {
        width: 100vw;
        position: relative;
        overflow-x: hidden;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    .carousel img {
        width: 100%;
    }
    .hero-image {
        width: 100%;

    }
    .page-1 {
        color: #fff;
        font-weight: 500;
        font-size: 1.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .page-1 svg {
        width: 100vw;
        height: 100vh;
        opacity: .25;
        transform: translateX(-40%);
    }
    #contacts {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .contacts {
        width: calc(100vw - 3rem);
        height: calc(100vh - var(--scroll_padding));
        z-index: 100;
        position: absolute;
        bottom: 0;
    }

    .input {
        position: absolute;
        top: 25%;
        background: var(--bg);
        width: calc(100% - 10px);
        height: 30vw;
        transform: translateY(-30%);
        padding: 5rem;
    }

    .h1 {
        position: absolute;
        top: 0;
        height: 15vw;
        z-index: 100;
    }
    .input i,
    .pc_info #left {
        opacity: 1;
        top: 70%;
        height: 44px;
        width: 44px;
        color: var(--text);
        cursor: pointer;
        font-size: var(--fontsize);
        position: absolute;
        z-index: 1000;
        text-align: center;
        line-height: 44px;
        background-color: var(--btnsecondary);
        border-radius: 50%;
        right: -22px;
    }

    .pc_info #left {
        left: -24px;
        top: 50%;
    }

    #wrapper {
        width: calc(100% - 10px);
        height: 100vh;
        padding: 10px;
        opacity: 0;
    }

    .pc_info {
        width: calc(100% - 10px);
        height: 65%;
        top: 50%;
        transform: translateY(-50%);
    }

    .socials {
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }
    .product-filter {
        width: 100vw;
        height: 100vh;
    }
    .navigation {
        width: calc(100% - 5px);
        height: 6rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .filter {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr);    
        gap: 5px;
        font-size: 1rem; 
    }
    .filter-button.active {
        padding-inline: 5px;
        padding-block: 0;
        border-radius: 7.5px;
    }
    /* .list-items {
        text-decoration: underline;
    } */
    .product-wrapper {
        position: absolute;
        height: 55vh;
        width: 100vw;
        bottom: 2rem;
        display: grid;
        place-items: center;
        margin-inline: 5px;
        margin-bottom: 1rem;
    }
    .element-list {
        height: 100%;
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        column-gap: 10px;
    }
    .swiper {
        width: calc(100vw - 4rem);
        height: 60vh;
        margin-top: .75em;
        margin-inline: 0;
      }
    .list_items,
    .social_media_handles{
        width: 100%;
        margin-left: auto;
        font-size: 1em;
        letter-spacing: 0px;
      }
  }

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--btnprimary);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}