* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

body {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: burlywood;
}

.filter_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

nav > .site_filter {
    width: 100%;
    height: 2rem;
    background-color: aqua;
}

.filter_list {
    top: 1.5rem;
    position: relative;
    width: 100%;
    height: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.filter {
    background-color: antiquewhite;
    border: 0;
    outline: 0;
    width: auto;
    padding: .25rem .5rem;
    border-radius: 5px;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    transition: all .4s ease-in-out;
}

.filter:hover {
    background-color: rgba(250, 235, 215, 0.74);
}

.active {
    background-color: aquamarine;
    transition: all .4s ease-in-out;
}

.active:hover {
    background-color: rgba(127, 255, 212, 0.74);
}